body main #form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
  font-family: 'Inter', sans-serif;
}

.book-container {
  display: flex;
  justify-content: space-between;
}

article {
  display: flex;
  align-items: center;
}

#container {
  margin: auto;
  border: 2px solid black;
  width: 55vw;
}

p {
  font-family: sans-serif;
}

#book > p {
  margin: 0 10px 0 10px;
}

.book-container:nth-child(odd) {
  background-color: #f2f2f2;
}

button {
  padding: 5px 5px;
  margin: 2px;
}
